{% extends 'base.html'%}

{% block content %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <label>username:</label>
            <input type="text" name="username" placeholder="Enter username">
            <br>
            <label>password:</label>
            <input type="password" name="password" placeholder="Enterpassword">
        </table>
        <button type="submit">login</button>
        <hr>
        <h4>If you have no account please<a href="{% url 'create-user'%}">Create new Account .</a></h4>
    </form>
</div>
{% endblock %}